page-meals-sell-list {
    ion-img {
        background: transparent;
        min-height: 200px;
        min-width: 200px;
    }
    .align-right {
        text-align: right;
    }
    rating { // https://www.npmjs.com/package/ionic-rating
        ion-icon {
            color: gray;        
            &.filled {
            color: #ffb400;
            }
        }
        
    }
    // todo: review this for uses and/or discard
    .overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    ion-navbar {
        .toolbar-content {  // brings "more" button to end of search bar
            display: flex;
        }
    }
    button.more {
        color: #424242;
        background-color: transparent;
        font-size: 1.5em;
        box-shadow: none;
        padding: 0px 15px !important;
    }
}
